.HomePage-FullScreenContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to bottom, #1D3557 0%,
            #1D3557 80%, #8d99ae 80%, #8d99ae 100%);
    justify-content: space-between;

}

.Middle-Container {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.Header-Container {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Title-Container {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-weight: bold;
    color: #eeeeee;
    font-size: 60px;
}

.grey-container {
    /* width: 35%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; */
}

.container {
    padding-top: 32px;
    padding-bottom: 16px;
    padding-right: 16px;
    padding-right: 16px;
    background-color: #eeeeee;
    border-radius: 25px;
}

.form {
    display: flex;
    flex-wrap: wrap;
    margin: 16px;
    align-items: center;
    justify-content: center;
}

.textField {
    width: 80%;
    margin: 16px !important;
}

.button {
    font-size: 20px !important;
    margin: 16px !important;
    width: 60%;
    background: #1D3557 !important;
}