/* .App {
  text-align: center;
  position: absolute;
  top: 0;
  left: 200px;
  //Set the left position to the width of the nav bar
  right: 0;
  bottom: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 100vh;
} */

.FullScreenContainer {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.ScreenContainer {
  background-color: #f1f2f7;
  flex: 8.5;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-left: 10px;
}

.HeadingContainer {
  /* flex-grow: 1; */
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 40px;
  color: #8c8fb3;
  padding-top: 10px;
  padding-bottom: 10px;
}

.DashboardContainer {
  height: 90vh;
  /* max-height: 800px; */
}

.BottomContainer {
  height: 10px;
}

.DashboardFrame {
  /* adjusted width to -20px to remove whitespaces */
  height: calc((90vh * 1.725)* 0.5797);
  width: calc(90vh * 1.725);
  background-color: #f1f2f7;
  /* height: 800px; */
  /* width: 1380px; */
}